{{#partial "contenido"}}
<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <link rel="stylesheet" href="/css/homeAlumno.css">
</head>

<body>
	<div class="contenedorInfo">
		<div class="contenedorPerfil">
			<table class="tablaPerfil">
    			<tr>
     				<th>Nombre</th>
      				<td class="info">{{nombre}}</td>
    			</tr>
    			<tr>
      				<th>Apellido</th>
      				<td class="info">{{apellido}}</td>
    			</tr>
    			<tr>
      				<th>Legajo</th>
      				<td class="info">{{legajo}}</td>
    			</tr>
    			<tr>
      				<th>Usuario de github</th>
      				<td class="info">{{githubUser}}</td>
    			</tr>
    			<tr>
      				<th>Password</th>
      				<td class="info">{{password}}</td>
    			</tr>
			</table>
			<form method="get">
				<button formaction="/student/edit" type="submit" class="btn btn-secondary btn-lg">Editar</button>
			</form>
			<form method="get">
				<button formaction="/student/assignments" type="submit" class="btn btn-secondary btn-lg">Ver asignaciones</button>
			</form>
		</div>	
	</div>
	
</body>

</html>

{{/partial}}
{{>layout.hbs}}